.TabelaProdutos table {
    width: 100%;
}

.TabelaProdutos th {
    background-color: #3799d3;
    color: #fff;
}

.TabelaProdutos .Par {
    background-color: #ddd;
}

.TabelaProdutos .Impar {
    background-color: #aaa;
}